.slider {
    position: relative;
    height: 577px;
}

.custom-slider-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slider-track {
    position: relative;
}

.slide,
.slider-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.slide {
    text-align: center;
    transform: translateX(-100%);
    transition: transform 2.5s ease-out;
}

.slide.is-selected {
    transform: translateX(0);
}

.slide.is-selected ~ .slide {
    transform: translateX(100%);
}

.carousel_image > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.next-button::after {
    background-position: 100%;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-button::after,
.next-button::after {
    content: "";
    display: inline-block;
    background-image: url("./../../../img/left-right.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 100px;
}
