.languages-menu {
    display: flex;
    flex-direction: row-reverse;
    padding: 17px 20px 17px 10px;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s ease-in-out;
}

.languages-menu-active {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.2);
}

.languages-name {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 600;
    position: relative;
    pointer-events: none;
}

.languages-name.triangle::after {
    transform: translate(50%, 300%);
}

.languages-flag {
    background-image: url("./../../../img/nav-sprite-global-country.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    display: inline-block;
    background-position: 0 -131px;
    margin: 0 3px 0 0;
    border-radius: 2px;
    pointer-events: none;
}

.language-dropdown {
    position: absolute;
    top: 92%;
    left: -13%;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 3px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    border: 1px solid #bbb;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    z-index: -1;
}

.language-dropdown-active {
    opacity: 1;
    z-index: 2;
}

.language-dropdown:after {
    content: "";
    top: -16px;
    left: 101px;
    border-style: solid;
    border-width: 8px;
    border-color: transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.language-dropdown:before {
    content: "";
    top: -18px;
    left: 100px;
    border-style: solid;
    border-width: 9px;
    border-color: transparent;
    border-bottom: 9px solid #ccc;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.flex {
    display: flex;
    font-size: 13px;
    color: #444;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 7px 0;
}

.radio-img {
    border: 1px solid #9f9f9f;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
}

.radio-img .radio-active {
    background-color: #e87121;
    left: 10.1%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    border: none;
}

.divider {
    line-height: 1px;
    height: 1px;
    background-color: #eee;
    margin: 0 0 9px;
}

.language-item {
    color: #444444;
    font-size: 13px;
    display: flex;
    margin: 0 0 7px 0;
    gap: 6px;
}

.learn-more,
.change-dollar {
    color: #007185;
    font-size: 11px;
}

.change-language,
.change-currency {
    font-size: 13px;
}

.dollar {
    font-size: 13px;
}

.flag-img {
    background-image: url("./../../../img/nav-sprite-global-country.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 11px;
    background-position: 30.6% 38.2%;
    border-radius: 2px;
    margin: 0 5px 0 0;
}
.flag-shopping {
    margin: 0 5px 0 0;
}

.change-link {
    margin: 0 auto;
}

.change-region-country {
    color: #0066c0;
    font-size: 13px;
}

[type="checkbox"] {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
}

[type="checkbox"] {
    position: relative;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

[type="checkbox"]::before,
[type="checkbox"]::after {
    position: absolute;
    display: block;
    content: "";
}

[type="checkbox"]::before {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid #9f9f9f;
    border-radius: 50%;
}

[type="checkbox"]::after {
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    /* border-bottom: 5px solid #ee8013; */
    /* border-left: 5px solid #ee8013; це можна використати як галочку*/
    /* transform: rotate(-45deg); */
    border-radius: 50%;
    background-color: #ee8013;
    transition: opacity 0.3s;
    opacity: 0;
}

[type="checkbox"]:checked::after {
    opacity: 1;
}

label {
    color: #444;
    font-size: 13px;
    cursor: pointer;
}

label:hover {
    text-decoration: underline;
    color: #e47911;
}
