@import "./header-top-left.css";
@import "./header-top-center-custom-select.css";
@import "./header-top-center-search-field.css";
@import "./header-top-right-languages.css";
@import "./header-top-sign-in-link.css";
@import "./header-top-right-return-orders.css";
@import "./header-top-right-basket.css";
@import "./header-bottom.css";

.header {
    background-color: var(--nav-top-bg);
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-top {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.nav-top-left {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    position: relative;
}

.nav-top-center {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    width: 100%;
}

.nav-top-right {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-bottom {
    display: flex;
    background-color: #232f3e;
    position: relative;
    margin: 2px 0;
}