.return-orders {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    padding: 10px 20px 10px 10px;
    position: relative;
}

.return {
    font-size: 12px;
}

.orders {
    font-size: 14px;
    font-weight: 600;
}

.sign-in-dropdown {
    position: absolute;
    background-color: var(--white-color);
    top: 92%;
    right: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    padding: 20px;
    border: 1px solid #ccc;
    transition: opacity 0.5s ease-in-out;
}

.sign-in-link-active {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.2);
}

.sign-in-dropdown-active {
    opacity: 1;
    z-index: 2;
}

.sign-in-dropdown::before {
    content: "";
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 9px;
    border-color: transparent;
    border-bottom: 9px solid #ccc;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.sign-in-dropdown::after {
    content: "";
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 8px;
    border-color: transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.sign-in-link-dropdown {
    color: #111;
    font-size: 13px;
    background-color: #ffd814;
    width: fit-content;
    margin: 0 auto 10px;
    padding: 7px 90px;
    border-radius: 8px;
}

.new-customer {
    color: #333;
    margin: 0 auto 10px;
    font-size: 11px;
}

.new-customer a {
    color: #05a;
    font-size: 11px;
}

.sign-in-dropdown .divider {
    margin: 0 0 20px 0;
}

.divider-horizontal {
    width: 1px;
    min-height: 100%;
    background-color: #eee;
    margin: 0 20px 0 0;
}

.sign-in-wrapper {
    display: flex;
}

.sign-your-list,
.sign-your-account {
    width: 50%;
}

.sign-your-list a,
.sign-your-account a {
    font-size: 13px;
    color: #444;
}

.sign-your-list-title {
    color: #0f1111;
    font-weight: 900;
    margin: 0 0 10px 0;
}
