@media (min-width: 0px) {
    body .wrapper {
        display: none;
    }
    body .wrapper.mobile {
        display: none;
    }
}

@media (min-width: 320px) {
    body .wrapper {
        display: none;
    }
    body .wrapper.mobile {
        display: flex;
    }
    .mobile-top,
    .mobile-center,
    .mobile-bottom {
        background-color: var(--mobile-top-bg);
        padding: 5px 5px;
    }
    .mobile-top {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .mobile-side-menu {
        position: fixed;
        width: 265px;
        height: 100vh;
        background-color: var(--white-color);
        z-index: 4;
        top: 0;
        left: 0;
        overflow-y: scroll;
    }
    .mobile-side-menu-top {
        background-color: var(--mobile-top-bg);
    }
    .mobile-side-menu-top-header {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    .mobile-side-menu-top-header a {
        font-size: 14px;
        padding: 20px 20px 0 20px;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .mobile-side-menu-top-header a::after,
    .mobile-go-home-link a::after,
    .compress-show::after,
    .compress-hidden::after,
    .mobile-side-menu-compress li button::after {
        content: "";
        background-image: url("./../../../../img/new-nav-sprite-global-2x.png");
        width: 24px;
        height: 24px;
        display: block;
        background-position: -170px -268px;
        background-size: 275px;
    }
    .mobile-side-menu-bottom-header {
        padding: 0 20px 20px 20px;
    }
    .mobile-side-menu-bottom-header h6,
    .mobile-side-menu-bottom-header h4 {
        font-size: 20px;
        color: var(--white-color);
        font-weight: 700;
        line-height: 20px;
    }
    .mobile-side-menu-bottom-header h4 {
        font-size: 28px;
        line-height: 28px;
        font-weight: 400;
    }
    .mobile-side-menu-center .mobile-go-home-link {
        padding: 20px 20px 15px;
    }
    .mobile-go-home-link a {
        color: var(--h3-goods-title);
        font-weight: 700;
        font-size: 19px;
        display: flex;
        justify-content: space-between;
    }
    .mobile-go-home-link a::after {
        background-position: -139px -268px;
    }
    .mobile-side-menu-center .mobile-side-menu-divide {
        border-bottom: 5px solid var(--color-divide);
        padding: 0;
    }
    .mobile-side-menu-title {
        color: var(--h3-goods-title);
        font-weight: 700;
        font-size: 19px;
        padding: 20px 20px 15px;
    }
    .mobile-trending-link {
        padding: 10px 20px 15px;
    }
    .mobile-trending-link a {
        font-weight: 400;
        font-size: 16px;
        color: var(--h3-goods-title);
    }
    .mobile-side-menu-compress {
        /* display: none; */
    }
    .compress-show,
    .compress-hidden {
        font-size: 16px;
        color: var(--h3-goods-title);
        display: flex;
        gap: 5px;
        align-items: center;
    }
    .compress-show::after,
    .compress-hidden::after {
        width: 14px;
        height: 20px;
        background-position: -74px -170px;
        rotate: 90deg;
    }
    .compress-hidden::after {
        rotate: -90deg;
        background-position: -76px -170px;

    }
    .mobile-side-menu-center li {
        padding: 15px 20px 20px;
    }
    .mobile-side-menu-center li a {
        font-size: 16px;
        color: var(--h3-goods-title);
    }
    .mobile-side-menu-center .mobile-side-menu-mini-divide {
        border-bottom: 1px solid var(--color-divide);
        margin: 5px 20px 5px 20px;
        padding: 0;
    }
    .mobile-side-menu-compress li button {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        width: 100%;
    }
    .mobile-side-menu-compress li button::after {
        margin-left: auto;
        background-position: -68px -168px;
    }
    .mobile-left {
        display: flex;
        align-items: flex-end;
        gap: 10px;
    }
    .logo-mobile,
    .button-sidemenu-img,
    .mobile-avatar,
    .mobile-cart,
    .mobile-search,
    .mobile-footer button::before {
        background-image: url(./../../../../img/new-nav-sprite-global-2x.png);
        background-repeat: no-repeat;
        background-size: 275px;
    }
    .logo-mobile {
        width: 80px;
        height: 27px;
        background-position: -10px -50px;
    }
    .button-sidemenu-mobile {
        padding: 6px;
    }
    .button-sidemenu-img {
        width: 20px;
        height: 20px;
        background-position: -20px -377px;
    }
    .mobile-right {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .mobile-nav-sign {
        font-size: 13px;
    }
    .mobile-avatar {
        width: 35px;
        height: 27px;
        background-position: -136px -302px;
    }
    .mobile-cart {
        width: 37px;
        height: 27px;
        background-position: -10px -240px;
        position: relative;
    }
    .mobile-cart span {
        position: absolute;
        top: -2px;
        right: 13px;
        font-weight: 700;
        color: var(--cart-count);
    }
    .autocomplete-form {
        display: flex;
        border-radius: 8px;
        background-color: var(--white-color);
    }
    .mobile-custom-autocomplite {
        width: 100%;
        display: flex;
    }
    .mobile-custom-autocomplite input {
        width: 100%;
        border-radius: 8px 0 0 8px;
        padding-inline-start: 10px;
        padding-inline-end: 95px;
        height: 44px;
    }
    .mobile-cus-auto-btn {
        background-color: var(--bg-search-btn);
        border-radius: 8px;
        padding: 9.5px 11.5px;
    }
    .mobile-search {
        width: 27px;
        height: 25px;
        filter: invert(100%);
        background-position: -73px -239px;
    }
    .swipe-menu {
        overflow-x: auto;
        display: flex;
        gap: 20px;
        padding: 0 10px 6px;
        scrollbar-width: none;
    }
    .swipe-menu li a {
        white-space: nowrap;
    }
    .mobile-footer {
        background-color: var(--mobile-footer-bg);
        padding: 5px;
    }
    .mobile-footer button {
        font-size: 13px;
        color: var(--white-color);
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;
    }
    .mobile-footer button::before {
        content: "";
        width: 20px;
        height: 20px;
        background-position: -76px -340px;
    }
    .sign-in-mobile {
        background-color: var(--white-color);
        padding: 5px 0 0 0;
        border-bottom: 2px solid var(--bg-custom-select);
    }
    .sign-in-container {
        margin: 10px 20px;
    }
    .sign-in-top h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .sign-in-center {
        margin-bottom: 10px;
    }
    .sign-in-center button {
        color: var(--button-sign-in-section);
        background-color: var(--button-sign-out-section-bg);
        border-radius: 8px;
        width: 100%;
        padding: 10px 0;
    }
    .sign-in-bottom a {
        color: var(--sign-in-bottom-link);
        font-size: 15px;
    }
    .goods,
    .goods-grid {
        background-color: var(--white-color);
        border-bottom: 2px solid var(--bg-custom-select);
    }
    .goods-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
    }
    .goods-flex {
        display: flex;
        gap: 10px;
    }
    .goods-content {
        width: 50%;
    }
    .goods-content img {
        border-radius: 8px;
    }
    .goods-container,
    .goods-grid-container {
        padding: 10px 10px;
    }
    .goods-container h3,
    .goods-grid-container h3 {
        margin-bottom: 10px;
        color: var(--h3-goods-title);
        font-size: 18px;
    }
    .goods-content a {
        color: var(--button-sign-in-section);
        font-size: 15px;
    }
    .sign-in-goods-more {
        color: var(--sign-in-bottom-link);
        font-size: 15px;
    }
    .goods-grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: 10px;
    }
    .goods-grid-wrapper img {
        border-radius: 8px;
    }
    .goods-grid-content {
        position: relative;
        padding: 10px;
    }
    .goods-grid-content::after {
        content: "";
        background-color: var(--transparent-bg);
        border-radius: 4px;
        opacity: 0.03;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .go-top-mobile {
        background-color: var(--mobile-footer-bg);
        font-size: 11px;
        color: var(--white-color);
        margin: 0 auto;
        width: 100%;
        padding: 15px 10px 10px;
        position: relative;
    }
    .go-top-mobile::after {
        content: "";
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid var(--deliver-color);
        position: absolute;
        top: 5px;
        left: 48%;
        pointer-events: none;
    }
    .footer-mobile-lists {
        background-color: var(--mobile-top-bg);
        display: flex;
        padding: 20px;
        gap: 20px;
        justify-content: center;
    }
    .footer-mobile-lists ul {
        display: flex;
        flex-direction: column;
        max-width: 140px;
        font-size: 15px;
        gap: 10px;
    }
    .footer-mobile-bottom {
        background-color: var(--footer-mobile-bg);
        padding: 20px;
    }
    .footer-mobile-link {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }
    .footer-mobile-link a {
        color: var(--deliver-color);
        font-size: 14px;
    }
    .footer-mobile-flag,
    .footer-mobile-globus {
        position: relative;
        padding-left: 25px;
    }
    .footer-mobile-globus {
        padding-left: 20px;
    }
    .footer-mobile-flag::after,
    .footer-mobile-globus::after {
        content: "";
        position: absolute;
        display: block;
        top: 2px;
        width: 18px;
        height: 12px;
        background-image: url("./../../../../img/nav-sprite-global-country.png");
        background-position: -54px -108px;
    }
    .footer-mobile-globus::after {
        width: 16px;
        height: 15px;
        top: 0;
        background-position: -77px -51px;
    }
    .footer-mobile-customer {
        color: var(--white-color);
        font-size: 15px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        gap: 10px;
    }
    .footer-mobile-conditional {
        font-size: 11px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 5px;
        column-gap: 20px;
        justify-content: center;
        margin-bottom: 10px;
    }
    .footer-mobile-conditional a {
        color: var(--deliver-color);
    }
    .footer-mobile-conditional span {
        background-image: url("./../../../../img/nav-sprite-global-all.png");
        width: 32px;
        height: 16px;
        display: block;
        background-position: -135px -379px;
    }
    .footer-mobile-copyright {
        color: var(--deliver-color);
        font-size: 11px;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 375px) {
    .slider-wrapper {
        height: 435px;
    }
}

@media (min-width: 425px) {
    .slider-wrapper {
        height: 465px;
    }
}

@media (min-width: 768px) {
    .slider-wrapper {
        height: 685px;
    }
}

@media (min-width: 1024px) {
    section .slider-container {
        margin: 0 auto;
    }
    .slider-wrapper {
        height: 835px;
    }
    .mobile-container {
        max-width: 1024px;
        margin: 0 auto;
    }
    .goods-wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    header .mobile-container,
    footer .mobile-container {
        max-width: 100%;
        margin: 0;
    }
}

@media (min-width: 1440px) {
    body .wrapper {
        display: flex;
    }
    body .wrapper.mobile {
        display: none;
    }
}
