.infinity-slider {
    /* overflow: hidden; */
    border-bottom: 2px solid var(--bg-custom-select);
}

.slider-container {
    width: clamp(320px, 100%, 1000px);
    position: relative;
}

.slider-wrapper {
    position: relative;
    min-height: 400px;
    display: flex;
    overflow: hidden;
}

.slider-wrapper img {
    height: 100%;
    object-fit: fill;
    width: 100%;
}

.slide-mobile {
    width: 100%;
    position: absolute;
    transition: transform 1s ease-in-out, visibility 1s ease-in-out;
    visibility: hidden;
}

.slide-mobile[data-x="0"] {
    visibility: visible;
}

#left-btn,
#right-btn {
    font-size: 44px;
    cursor: pointer;
    background-color: #dbd9d922;
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 53.6%;
    display: flex;
    align-items: center;
    z-index: 2;
}

#right-btn {
    right: 0;
}

.slider-carts {
    display: flex;
    gap: 10px;
    padding: 0 10px 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

.cart-wrapper {
    width: 135px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 4px 5px 4px rgba(15, 17, 17, 0.15);
    flex: 0 0 auto;
    z-index: 2;
}

.cart-wrapper a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.cart-wrapper img {
    border-radius: 8px;
}

.blur-block {
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 175px;
    width: 100%;
    background: linear-gradient(
        -180deg,
        rgba(213, 219, 219, 0) 0%,
        #e3e6e6 33%
    );
}
